.box1{
  margin: 10px;
  width: 200px;
  height: 50px;

  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(252, 203, 144, 0.5), rgba(213, 126, 235, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(252, 203, 144, 0.5), rgba(213, 126, 235, 0.5))
}
p{
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  padding-top: 12px;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
.box2{
  margin: 10px;
  width: 200px;
  height: 50px;
  /* fallback for old browsers */
  background: #5ee7df;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(94, 231, 223, 0.5), rgba(180, 144, 202, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(94, 231, 223, 0.5), rgba(180, 144, 202, 0.5))
}
.box3{
  margin: 10px;
  width: 200px;
  height: 50px;
  /* fallback for old browsers */
  background: #89f7fe;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(137, 247, 254, 0.5), rgba(102, 166, 255, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(137, 247, 254, 0.5), rgba(102, 166, 255, 0.5))
}
.box4{
  margin: 10px;
  width: 200px;
  height: 50px;
  /* fallback for old browsers */
  background: #a6c0fe;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(166, 192, 254, 0.5), rgba(246, 128, 132, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(166, 192, 254, 0.5), rgba(246, 128, 132, 0.5))
}
.box5{
  margin: 10px;
  width: 200px;
  height: 50px;
  /* fallback for old browsers */
  background: #37ecba;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(55, 236, 186, 0.5), rgba(114, 175, 211, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(55, 236, 186, 0.5), rgba(114, 175, 211, 0.5))
}
.zone {
  cursor:pointer;
  /*display:inline-block;*/
  border-radius:4px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }to{
  opacity: 1;
  transform: rotateX(0deg);
     }

}
.container-child{
  animation: transitionIn 0.5s;
  transition: all 0.3s linear;
}
