<div class="container">
  <div class="zone" (click)="grd12Lessons()">
    <img src="https://1.bp.blogspot.com/-YlhPaTmBmpI/YCk6qJ8-ZVI/AAAAAAAAAuw/Z7VHvACGDpMxK79AHHhHlXUPACClyMvdACLcBGAsYHQ/s320/lessons.jpg" alt="">
  </div>
  <div class="zone" (click)="grd12Papers()">
    <img src="https://1.bp.blogspot.com/-EOKMJHARIq8/YCk6p0Bhc1I/AAAAAAAAAus/YivI9PCcOaAXMrhdO5AzUtQmA0G6GfL-wCLcBGAsYHQ/s320/papers.jpg" alt="">
  </div>
  <div class="zone" (click)="grd12Marks()">
    <img src="https://1.bp.blogspot.com/-Jt7n2nZuUOE/YCk6qlhlnNI/AAAAAAAAAu0/7as8KeDbf88LZqvOyVJutm4WfnJjkOyTwCLcBGAsYHQ/s320/Marks.jpg" alt="">
  </div>
</div>
