<nav class="navbar">

      <div class="ham-wrap" (click)="toggleSlide()" >
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="row justify-content-end">
        <div class="col-5 user-name">
          User Name
        </div>
        <div class="col-4 avatar">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </div>
      </div>


</nav >

<div class="left-slider" *ngIf="leftSideVisibleState" [@sliderLeft] >
  <p class="text-welcome">Hello Students</p>
  <ul class="nav-list">
    <li>
      <a routerLink="/DashBoard/Home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/DashBoard/NewsAndEvents" routerLinkActive="active">News And Events</a>
    </li>
    <li>
      <a routerLink="/DashBoard/TimeTables" routerLinkActive="active">Time Tables</a>
    </li>
    <li>
      <a routerLink="/DashBoard/MyClass" routerLinkActive="active">My Class</a>
    </li>
    <li>
      <a routerLink="/DashBoard/About" routerLinkActive="active">About</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
