<!--div class="left-slider" *ngIf="leftSideVisibleState" [@sliderLeft] >
  <p class="text-welcome">Hello Students</p>
  <ul class="nav-list">
    <li>
      <a routerLink="/DashBoard/Home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/DashBoard/NewsAndEvents" routerLinkActive="active">News And Events</a>
    </li>
    <li>
      <a routerLink="/DashBoard/TimeTables" routerLinkActive="active">Time Tables</a>
    </li>
    <li>
      <a routerLink="/DashBoard/MyClass" routerLinkActive="active">My Class</a>
    </li>
    <li>
      <a routerLink="/DashBoard/About" routerLinkActive="active">About</a>
    </li>
  </ul>
</div>

-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-justify-center" href="#" >Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/DashBoard/Home" routerLinkActive="active">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/DashBoard/NewsAndEvents" routerLinkActive="active">
          <i class="fa fa-newspaper-o">
          </i>
          News And Events
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/DashBoard/MyClass" routerLinkActive="active">
          <i class="fa fa-book"></i>
          My Class
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/DashBoard/Papers" routerLinkActive="active">
          <i class="fa fa-file-text"></i>
          Papers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/DashBoard/Lessons" routerLinkActive="active">
          <i class="fa fa-safari"></i>
          Lessons
        </a>
      </li>

    </ul>
    <ul class="navbar-nav " *ngIf="isLoggedin">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logOut()">
          <i class="fa fa-sign-out"></i>
          Sign Out
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-user-circle-o"></i>
          {{userName}}
        </a>
      </li>
    </ul>
  </div>
</nav>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

