<div class="container" >
  <div class="zone" (click)="grd6()" >
    <img src="https://1.bp.blogspot.com/-kFmxNS1DKGM/YCa8Baaw06I/AAAAAAAAAuE/KKYaB0BmhgcLrg9NZWRzO6PbSurj26iPQCLcBGAsYHQ/s320/grd6.jpeg" alt="Grade 06">
  </div>
  <div class="zone" (click)="grd7()">
    <img src="https://1.bp.blogspot.com/-Rj4BDtgRIlo/YCa8BTGbpBI/AAAAAAAAAuI/tnT5WxCdYcMC4VrEEEt-GwwU0qkYXCzlwCLcBGAsYHQ/s320/grd7.jpeg" >
  </div>
  <div class="zone" (click)="grd8()">
    <img src="https://1.bp.blogspot.com/-OK3jMr_gAuQ/YCa8CFIU0oI/AAAAAAAAAuM/VniDiqT6wZEdiz_BpCqksgK3A2wK83U3ACLcBGAsYHQ/s320/grd8.jpeg" alt="">
  </div>
  <div class="zone" (click)="grd9()">
    <img src="https://1.bp.blogspot.com/-itIJZb9h1aI/YCa8COqkCYI/AAAAAAAAAuQ/J0-JRhTcNEEXWCXaQId12oEVdzP6shrXgCLcBGAsYHQ/s320/grd9.jpeg" alt="">
  </div>
  <div class="zone" (click)="grd10()">
    <img src="https://1.bp.blogspot.com/-vrGBfNaAOTE/YCa8ASbBmOI/AAAAAAAAAt0/6PEpSHEYA_8Jc1JRc6bDHeKOk6novSTkQCLcBGAsYHQ/s320/grd10.jpeg" alt="">
  </div>
  <div class="zone" (click)="grd11()">
    <img src="https://1.bp.blogspot.com/-opqAiyFkz80/YCa8Ajm6C4I/AAAAAAAAAt4/w4T22eetCJMwS1RZycfoDovUc0RCNXIDwCLcBGAsYHQ/s320/grd11.jpeg" alt="">
  </div>
  <div class="zone" (click)="grd12()">
    <img src="https://1.bp.blogspot.com/-TqP5cTFs1OA/YCa8ApQVprI/AAAAAAAAAt8/rWUnvpKAggMZFW5DRukDsmEbpvKx3FOOwCLcBGAsYHQ/s320/grd12.jpeg" alt="">
  </div>
  <div class="zone" (click)="grd13()">
    <img src="https://1.bp.blogspot.com/-5UyGkre9_bU/YCa8BOl6CkI/AAAAAAAAAuA/kthB-VSBe6kc0F-WLvoroNrbF9Ft2tceACLcBGAsYHQ/s320/grd13.jpeg" alt="">
  </div>

</div>
