.form-row{
  margin-left: 5px;
}
.btn{
  margin: 5px;
  width: 100px;
}
.btn-set{
  margin: 5px;
}
.dropbox{
  margin-top: 22px;
  margin-left: 50px;

}
.needs-validation{
  flex-wrap: wrap-reverse;
  position: static;
}
