<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="First name">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Last name">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
  </div>
</form>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Place</th>
    <th scope="col">Name</th>
    <th scope="col">Sub1</th>
    <th scope="col">sub2</th>
    <th scope="col">Sub3</th>
    <th scope="col">sub4</th>
    <th scope="col">Sub5</th>
    <th scope="col">sub6</th>
    <th scope="col">Sub7</th>
    <th scope="col">sub8</th>
    <th scope="col">Sub9</th>
    <th scope="col">sub10</th>
    <th scope="col">Sub11</th>
    <th scope="col">sub12</th>
    <th scope="col">Sub13</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row" >1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>


